.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

main {
  background-image: url('/public/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px; /* Add padding so content is not flush with edges */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  min-height: 100vh;
  overflow-y: auto;
}